<h1 class="mt-3">Pipes <i>Angular</i></h1>
<hr />
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Variable Content </th>
                    <th> Pipe </th>
                    <th> Output </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name2 }}</td>
                    <td> capitalize (Customized Pipe) </td>
                    <td>{{ name2 |capitalize}}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> uppercase </td>
                    <td>{{ name | uppercase}}</td>
                </tr>

                <tr>
                    <td>{{ name }}</td>
                    <td> lowercase </td>
                    <td>{{ name | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> slice:3 (Cut the first three letters) </td>
                    <td>{{ name | slice:3 }}</td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td> slice:0:3 (Just leave the first three letters) </td>
                    <td>{{ name | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{ Array }}</td>
                    <td> slice:1:5 (Can be used with Array of numbers)</td>
                    <td>{{ Array | slice:1:5 }}</td>
                </tr>

                <tr>
                    <td>{{ PI }}</td>
                    <td> number </td>
                    <td>{{ PI | number}}</td>
                </tr>
                <tr>
                    <td>{{ PI }}</td>
                    <td> number with only 2 decimals (number:'.0-2')</td>
                    <td>{{ PI | number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{ percentage }}</td>
                    <td> percent </td>
                    <td>{{ percentage | percent }}</td>
                </tr>
                <tr>
                    <td>{{ percentage }}</td>
                    <td> percent:'2.2-2' (percent pipe with two decimals)</td>
                    <td>{{ percentage | percent:'2.2-2' }}</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td> currency (without settings)</td>
                    <td>{{ salary | currency }}</td>
                </tr>
                <tr>
                    <td>{{ salary }}</td>
                    <td> currency:'EUR' (Europe settings)</td>
                    <td>{{ salary | currency:'EUR' }}</td>
                </tr>
                <tr>
                    <td>{{ promiseValue }}</td>
                    <td> async </td>
                    <td>{{ promiseValue | async }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date </td>
                    <td>{{ date | date }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date: 'medium' </td>
                    <td>{{ date | date: 'medium' }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date: 'short' </td>
                    <td>{{ date | date: 'short' }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date: 'dd - MMMM - yyyy' </td>
                    <td>{{ date | date: 'dd - MMMM - yyyy':'':'fr' }}</td>
                </tr>
                <tr>
                    <td>{{ date }}</td>
                    <td> date: 'dd - MMMM - yyyy':'':'{{language}}' </td>
                    <br>
                    <button (click)="setLanguage('es')" class="ml-1 btn btn-primary">Spanish</button>
                    <button (click)="setLanguage('fr')" class="ml-1 btn btn-secondary">French</button>
                    <button (click)="setLanguage('en')" class="ml-1 btn btn-success">English</button>
                    <td>{{ date | date: 'dd - MMMM - yyyy':'':language }}</td>
                </tr>

        </table>
        <h3>JSON pipe</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                {{hero | json}}
            </div>
        </div>
    </div>
</div>
<h3 class="mt-4">secureDom (Customized Pipe)</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <iframe width="1280" height="720" [src]="videoUrl | secureDom" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>